<div class = "jumbotron">
<h3><strong> <%= comment.user.username%> says <br> </h3>
  <div class = "caption" style ="text-align:center;">
<%= comment.body%><strong><br><br>
<%if current_user == comment.user%>
<%= link_to "Delete", book_comment_path(@book, comment) , method: :delete, data: { confirm: "Are you sure?" }%> |
<% end%>
<%= link_to "Reply", new_book_comment_path(comment.book, :parent_id => comment) , class: "btn btn-primary"%>

</div>
</div>