<%= form_with model: [@book, @comment] do |f|%>

<%= f.text_area :body, placeholder: "Add a comment", class: 'form-control'  %>
<div style ="text-align:center;"><br>
<%= f.submit "Comment", class: 'btn btn-primary'%>
</div>

<% end %>

<br>
