<div class = "jumbotron">
<h3><strong> <%= @comment.parent.user.username%> says <br> </h3>
  <div class = "caption" style ="text-align:center;">
<%= @comment.parent.body%><strong>
</div>
</div>
<h1 style ="text-align:center;" >Reply</h1>
<% render 'replyform' if @comment.parent.present?%>
<%= render 'form', comment: @comment %>

<p style ="text-align:center;"><%= link_to 'Back', book_path(@comment.parent.book) %></p>
