/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_tree .
 *= require_self
 *= require toastr
 */

@import "bootstrap-sprockets";
@import "bootstrap";


ol.commentlist { list-style:none; margin:0 0 1em; padding:0; text-indent:0;
  padding-top: 20px; }


ul {
    list-style-type: none;
    
  }
  li {
    list-style-type: none;
    .main-navigation ul li {
border-right: 1px solid #000;
}

.main-navigation ul li:last-of-type {
border-right: none;
}

.main-navigation ul ul li {
border-right: none;
}
  }

 body {
     background: rgb(230, 227, 227);
 }
 
.review_title {
    margin: 0 0 20px 0;
}
.reviews {
    padding: 15px 0;
    border-bottom: 1px solid #EAEAEA;
        .star-rating {
            padding-bottom: 8px;
        }
}

.jumbotron { border-radius: 6px;
  padding: 10px 0px 0px 0px;
}
.image-upload > input
{
   display: none;
}
.image-upload > label{
  cursor:pointer;
}

  .bookcover {
    display: block;
    max-width:230px;
    max-height:395px;
    
    padding-left: 50px;
  }
 

 